<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <form
          #f="ngForm"
          (ngSubmit)="onLogin(f)"
          *ngIf="!(authService.isAuthenticated | async)"
        >
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input
              name="username"
              type="text"
              [(ngModel)]="model.username"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input
              name="password"
              type="text"
              [(ngModel)]="model.password"
            ></ion-input>
          </ion-item>
          <ion-button expand="block" type="submit" color="primary">
            Submit
          </ion-button>
        </form>
      </ion-col>
      <ion-col size="12" *ngIf="(authService.isAuthenticated | async)">
        <ion-button
          expand="block"
          type="button"
          color="primary"
          (click)="onLogout()"
        >
          Logout
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
